<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @licence_name.name %>
</p>

<%= link_to 'Edit', edit_licence_name_path(@licence_name) %> |
<%= link_to 'Back', licence_names_path %>
