<div class="p-5 rounded-3 opacity-50">
  <div class="d-flex flex-column align-items-center container-fluid py-5">
    <div class="text-center py-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="6rem" height="6rem" fill="#6c757d" class="bi bi-boombox-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.5.5a.5.5 0 0 0-1 0V2H1a1 1 0 0 0-1 1v2h16V3a1 1 0 0 0-1-1h-.5V.5ZM16 6H0v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V6ZM2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm2 0a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm7.5-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm1.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm-7-1a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3Zm-2 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Zm7-1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Zm0-2a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM5 10.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
      </svg>
      <%# <svg xmlns="http://www.w3.org/2000/svg" width="6rem" height="6rem" fill="#6c757d" class="bi bi-columns-gap" viewBox="0 0 16 16">
        <path d="M6 1v3H1V1h5zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12v3h-5v-3h5zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8v7H1V8h5zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6v7h-5V1h5zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z"/>
      </svg> %>
    </div>
    <h1 class="row d-flex justify-content-center">
      <span class="display-3 fw-bold text-muted col-auto pt-3"> Ups! </span>
      <span class="h1 fw-bold text-muted col-5"> aún no hay nada aquí. </span>
    </h1>
    <span class="fs-5 fw-light text-muted text-center col-10"> Comienza a seguir artistas para ver su contenido. </span>
  </div>
</div>